html{    
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: hidden;
}

body{
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "body"
        "footer";
}
.header { 
    grid-area: header;
    height:100px; 
}

.body {
    margin-top:-10px;
    grid-area: body;
    background-image:url('../../utils/img/desk-4308226_1920.jpg');
    height: 700px;
}

.footer { 
    grid-area: footer;
    background-color:#262525;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    color: white;
}

.amanda-name{
    color: #8B1313;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-decoration:none;
    position: relative;
    left: 42%;
}

.amanda-name:hover{
    color: #8A7F7F;
}

.text-name{
    margin-top:-30px;
    text-shadow: 0 0 10px black,   
    13px -13px 12px rgba(0, 0, 0, 0.55), 
    13px -13px 1px rgba(0, 0, 0, 0.5);
}

.logo{
    position: relative;
    left: 41%;
    margin-top: -20px;
    width: 300px;
}


.logo:hover{
    color: #8A7F7F;
    border-color: black;
    border: 20px;
}

.row-first{
    color: #8B1313;
    size: 2px;
    width:300px;
}

.text-row{
    font-family: 'Playfair Display', serif;
    color: #8B1313;
    font-size: 20px;
    width:300px;
    margin-top: 10px;
    position: relative;
    left: 42%;
    text-shadow: 0 0 10px black,   
    13px -13px 12px rgba(0, 0, 0, 0.55), 
    13px -13px 1px rgba(0, 0, 0, 0.5);

}

.row-second{
    color: #8B1313;
    size: 2px;
    width:300px;
    margin-top: -40px;
}

.button-log{
    width: 300px;
    height: 200px;
    background-color: transparent;
    border: none;
    position: relative;
    left: 40%;

}

.icon-code{
    color: #8B1313;
    font-size: 150px;
}


.icon-code:hover{
    color:#8A7F7F;
    font-size: 150px;
}


.div-button{
    margin-bottom: 40px;
}